@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800);
body {
    margin: 0;

}
body p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
};
body h1,h2,h3 {
    font-family: 'Bungee', cursive;
}
header {
    font-family: 'Bungee', cursive;
}

footer {
    background-color: black;
    color: whitesmoke;
}
footer h1,h2,h3 {
    font-family: 'Bungee', cursive;
}
footer p {
  font-family: 'Lato', sans-serif;
}
#view {
  min-height: 30rem;
}
.carouselP {
  font-size:.4rem;
}
.img-hor {
    transform: rotateY(180deg); // Rotate 180 degrees along the y-axis
}

.carousel-inner img {
    margin: auto;
}

#homeMiddle {
  color: white;
  background-color: grey;
}
#homeImage {
  height: 40rem;
  width: auto;
}
.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    min-height:600px;
    max-height:600px;
    width: 850px;
}
#devIcon i {
font-size: 5rem;
margin: .5rem;
}

#devIcon a:hover{
    text-decoration: none;
}
.figure  a:hover{
    text-decoration: none;
}
.figure i {
  font-size: 2rem;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/*navbar*/
.navbar {
    z-index: 100;
    margin-bottom: 1rem;
}
.navbar-right li {
    list-style-type: none;
}

.navbar-right i {
    color: white;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1.5em;
}

.fa-facebook:hover {
    color: #4060A5;
}

.fa-twitter:hover {
    color: #00ABE3;
}

.fa-soundcloud:hover {
    color: #e64522;
}

.fa-instagram:hover {
    color: #0094BC;
}

.carousel-inner{
  width:100%;
/*  max-height: 400px !important;*/
}

/*footer*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
    background-color: #0c1a1e;
    /*min-height: 350px;*/
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 16px !important;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 16px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 16px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 16px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 16px;
}

#subfooter p {
  font-size: 1rem;
}
