<div class="container" id="view">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Apps</h1>


      <h2>Tesen</h2>
      <figure class="figure text-center">
        <a href="https://tesen.firebaseapp.com/" target="_blank"><img src="images\tensen.png" class="figure-img img-fluid rounded" alt="Tesen"></a>
        <figcaption class="figure-caption"><a href="https://tesen.firebaseapp.com/" target="_blank">Tensen</a></figcaption>
        <a href="https://github.com/RayKoren/tensen" target="_blank"><i class="devicon-github-plain-wordmark"></i></a>
        <p>A Web Based Sound App To choose a new sound, select an option from the menu then click 'change sound' to load the new sound bank. Click the pads or press the displayed letters to play sounds. You must connect to your SoundCloud account to Record. Recordings will automatically publish to your SoundCloud account! Enjoy! Created by: Ray Koren With HTML5, CSS, JavaScript, Bootstrap, Web Audio API and SoundCloud API. May 2016</p>
      </figure>

      <h2>Socket Synth</h2>
      <figure class="figure text-center">
        <a href="https://socketsynth.firebaseapp.com/" target="_blank"><img src="images\socketsynth.png" class="figure-img img-fluid rounded" alt="Socket Synth"></a>
        <figcaption class="figure-caption"><a href="https://socketsynth.firebaseapp.com/" target="_blank">Socket Synth</a></figcaption>
        <a href="https://github.com/RayKoren/SocketSynth" target="_blank"><i class="devicon-github-plain-wordmark"></i></a>
        <p>Socket Synth is a web based sound generator allowing a user to visualize audio and collaborate with friends in real-time over the internet.</p>
      </figure>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<a id="back-to-top" href="#/apps" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
