<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 footerleft">
            <div class="logofooter">Stone Coast Design</div>
            <p>Denver's Boutique Web Design & Software Development Team</p>
        </div>
        <div class="col-md-2 col-sm-12 paddingtop-bottom">
            <h6 class="heading7">LINKS</h6>
            <ul class="footer-ul">
                <li>
                    <a href="#/contact">Contact</a>
                </li>
                <li>
                    <a href="#/privacy">Privacy Policy</a>
                </li>
                <li>
                    <a href="#/terms">Terms & Conditions</a>
                </li>

            </ul>
        </div>
        <div class="col-md-4 col-sm-12 paddingtop-bottom">
            <h6 class="heading7">LATEST POSTS</h6>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdenverpsychfest%2F&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="350" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="col-md-2 col-sm-12 paddingtop-bottom">
            <div>
                <!-- social media icons -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/DenverPsychFest" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/DenverPsychFest" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
                    <li><a href="https://soundcloud.com/denver-psych-fest" target="_blank"><i class="fa fa-lg fa-soundcloud"></i></a></li>
                    <li><a href="https://www.facebook.com/DenverPsychFest" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
