<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-auto">
      <div class="jumbtron-fluid text-center">
        <img src="images/Stone-Coast-Design-logo.png" alt="Stone Coast Design" class="img-fluid" id="homeImage">
      </div>
      <div class="row justify-content-md-center">
        <h2>Denver's Boutique Web Design & Software Development Team</h2>
      </div>
    </div>
  </div>
  <div class="row" id="homeMiddle">
    <div class="col-2"></div>
    <div class="col-sm-12 text-center">
      <h1>Stone Coast Design</h1>
      <p>Stone Coast Design was born in the rockies as the brainchild of Ray Koren. We are committed to meticulous design and unmatched customer service. Your business does not sleep and neither should your web presence.</p>
    </div>
  </div>
</div>
