<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-auto">
      <div class="jumbtron-fluid hidden-md-up">
        <img src="/images/2014/IMG_4724.JPG" alt="Stone Coast Design" class="img-fluid">
        <div class="carousel-caption">
          <h1>Stone Coast Design</h1>
          <h2>Denver's Boutique Web Design & Software Development Team</h2>
        </div>
      </div>
    </div>
    <div id="carouselHeader" class="carousel slide hidden-sm-down" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
        <!-- <li data-target="#carouselHeader" data-slide-to="1"></li>
          <li data-target="#carouselHeader" data-slide-to="2"></li>
          <li data-target="#carouselHeader" data-slide-to="3"></li>
          <li data-target="#carouselHeader" data-slide-to="4"></li>
          <li data-target="#carouselHeader" data-slide-to="5"></li> -->
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner" role="listbox">
        <div class="active carousel-item">
          <img src="/images/2014/IMG_4724.JPG" alt="Stone Coast Design">
          <div class="carousel-caption">
            <h1>Stone Coast Design</h1>
            <h2>Denver's Boutique Web Design & Software Development Team</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="homeMiddle">
    <div class="col-2"></div>
    <div class="col-sm-12 text-center">
      <h1>Stone Coast Design</h1>
      <p>Stone Coast Design was born in the rockies as the braichild of Ray Koren. We are committed to meticulous design and unmatched customer service. Your business does not sleep and neither should your web presence.</p>
    </div>
  </div>
</div>
