<div class="container" id="view">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>SEO</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>On-Page Search Engine Optimization Specialists</h2>
            <p>The staff at Stone Coast Design has managed hundreds of successful SEO campaigns. We specialize in on-page search engine optimization techniques and advanced keyword research to get your site ranked for the keywords that matter most to your business.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
