<div class="container" id="view">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>On-Page Search Engine Optimization</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x text-primary"></i>
          </span>
            <h2>On-Page SEO Specialists</h2>
            <p>Great SEO starts on your site. The staff at Stone Coast Design has managed hundreds of successful SEO campaigns. We specialize in on-page search engine optimization techniques and advanced keyword research to get your site ranked for the keywords that matter most to your business. We use a comprehensive list of industry standard and advanced optimizations to get your site optimized for recognition by Google.</p>
        </div>
    </div>
    <div class="row text-center" >
        <div class="col-lg-12" >
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-map-pin fa-stack-1x text-primary"></i>
          </span>
            <h2>SEO Keyword Research and Site Optimization</h2>
            <p>If you are targeting the wrong keywords you are missing out on valuable clicks on your website. Often there are words and phrases that your customers are searching for that you are unaware of. Using Google's tools and other advanced techniques we can laser focus your SEO Campaign by targeting the correct keywords for your product or service!</p>
        </div>
    </div>
</div>
