<div class="container" id="view">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" id="devIcon">
      <h1>Our Team</h1>
      <div class="row">
        <h2>Ray Koren</h2><br><br>

      </div>
      <div class="row text-center">
        <img src="images\ray-koren.png" alt="" class="rounded">
        <p>I am a Full Stack Software Developer based in Denver, CO. I am a highly-motivated, self-driven problem solver committed to delivering on project timelines. My experience has ranged across technologies such as HTML5, CSS3, C# ASP .NET MVC, JavaScript, jQuery, D3.js, AngularJS, NodeJS, Bootstrap, SQL, Kendo UI and more. I am valuable as an individual or contributor to any team with proven ability to transcend adversity and prioritize team goals. </p>
      </div>
      <div class="row text-center">
        <i class="devicon-angularjs-plain-wordmark"></i>
        <i class="devicon-csharp-line"></i>
        <i class="devicon-google-plain"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-jquery-plain-wordmark"></i>
        <i class="devicon-python-plain-wordmark"></i>
        <i class="devicon-nodejs-plain"></i>
        <i class="devicon-visualstudio-plain-wordmark"></i>
        <i class="devicon-wordpress-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark"></i>
        <i class="devicon-atom-original-wordmark"></i>
        <i class="devicon-css3-plain-wordmark"></i>
        <i class="devicon-git-plain"></i>
        <i class="devicon-postgresql-plain-wordmark"></i>
        <a href="https://github.com/RayKoren"><i class="devicon-github-plain-wordmark"></i></a>
      </div>

      <p>Please contact us at <a title="Email Us" href="mailto:contact@StoneCoastDesign.com">Contact@StoneCoastDesign.com</a></p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
