<div class="container" id="view">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center" >
      <h1>Our Team</h1>
      <div class="row text-center">
        <img src="images\ray-koren.png" alt="Ray Koren is awesome!" class="rounded-circle img-fluid d-block mx-auto">
        <br>
      </div>
      <div class="row text-center">
        <h3>Ray Koren
          <small>Owner and Founder</small>
        </h3>
        <p>
          Ray is a Full Stack Software Developer based in Denver, CO. A Highly-motivated, self-driven problem solver committed to delivering on project timelines. His experience has range and depth across technologies such as HTML5, CSS3, C# ASP .NET MVC, JavaScript, jQuery, D3.js, AngularJS, NodeJS, Bootstrap, SQL, Kendo UI and more.</p>
          <p>In addition Ray has spent years in the digital marketing and SEO sector and has managed hundreds of successful SEO campaigns on Worpress, Drupal, Squarespace and custom websites in almost any B2B or B2C segment you could think of. He has proven valuable as an individual or contributor to any team with proven ability to transcend adversity, prioritize team goals, and get the job done.</p>
      </div>
      <div class="row text-center" id="devIcon">
        <i class="devicon-angularjs-plain-wordmark"></i>
        <i class="devicon-csharp-line"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-css3-plain-wordmark"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-jquery-plain-wordmark"></i>
        <i class="devicon-python-plain-wordmark"></i>
        <i class="devicon-nodejs-plain"></i>
        <i class="devicon-express-original-wordmark colored"></i>
        <i class="devicon-visualstudio-plain-wordmark"></i>
        <i class="devicon-wordpress-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark"></i>
        <i class="devicon-atom-original-wordmark"></i>
        <i class="devicon-git-plain"></i>
        <i class="devicon-django-plain-wordmark"></i>
        <i class="devicon-postgresql-plain-wordmark"></i>
        <i class="devicon-google-plain"></i>
        <a href="https://github.com/RayKoren"><i class="devicon-github-plain-wordmark"></i></a>
      </div>

      <p>Please contact us at <a title="Email Us" href="mailto:contact@StoneCoastDesign.com">Contact@StoneCoastDesign.com</a></p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<a id="back-to-top" href="#/team" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
