<div class="container" id="view">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Web</h1>

      <figure class="figure">
        <a href="http://synesthesia-denver.com/" target="_blank"><img src="images\syn.png" class="figure-img img-fluid rounded" alt="Synesthesia Denver"></a>
        <figcaption class="figure-caption"><a href="http://synesthesia-denver.com/">Synesthesia Denver</a></figcaption>
      </figure>
      <figure class="figure">
        <a href="http://www.fortgreenedenver.com/" target="_blank"><img src="images\fort.png" class="figure-img img-fluid rounded" alt="Fort Greene Denver"></a>
        <figcaption class="figure-caption"><a href="http://www.fortgreenedenver.com/">Fort Greene Denver</a></figcaption>
      </figure>
      <figure class="figure">
        <a href="http://fmbeautystudio.com/" target="_blank"><img src="images\fm.png" class="figure-img img-fluid rounded" alt="FM Beauty"></a>
        <figcaption class="figure-caption"><a href="http://fmbeautystudio.com/">FM Beauty</a></figcaption>
      </figure>
      <figure class="figure">
        <a href="http://www.wizardglass.com/" target="_blank"><img src="images\wizard.png" class="figure-img img-fluid rounded" alt="Wizard Glass"></a>
        <figcaption class="figure-caption"><a href="http://www.wizardglass.com/">Wizard Glass</a></figcaption>
      </figure>
      <figure class="figure">
        <a href="http://www.aspenvalleymarathon.com/" target="_blank"><img src="images\avm.png" class="figure-img img-fluid rounded" alt="Aspen Valley Marathon"></a>
        <figcaption class="figure-caption"><a href="http://www.aspenvalleymarathon.com/">Aspen Valley Marathon</a></figcaption>
      </figure>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
